
ul.nav {
    position: sticky;
    padding: 15px;
    margin: 0px;
    top: 0px;
}

div h1.display-3{
    color: rgb(34, 100, 199);
}

div.row{
    margin-block-end: 50px;
}

div.page{
    margin-left:125px;
    margin-right:125px;
}
